# Goal
- Implement chained methods to perform ETL
- Make read_transform() do all the heavylifting of data transformation

In [1]:
import pandas as pd

In [2]:
def lowcol(df):
    df.columns = df.columns.str.lower()
    return df


def replace_space(df):
    df.columns = df.columns.str.replace(" ", "_").str.replace(".", "")
    return df


def extract_state(df):
    df["state"] = df["address"].str.extract(", ([A-Z]{2})")
    return df


def read_transform(filename):
    df = pd.read_csv(filename)\
            .pipe(lowcol)\
            .pipe(replace_space)\
            .pipe(extract_state)\
            .assign(avg_area_income_int=lambda x: x["avg_area_income"].apply(round),
                    avg_house_age_int=lambda x: x["avg_area_house_age"].apply(round))\
            .drop("address", axis=1)
    return df

In [3]:
transformed = read_transform("USA_Housing.csv")
transformed.head()

,avg_area_income,avg_area_house_age,avg_area_number_of_rooms,avg_area_number_of_bedrooms,area_population,price,state,avg_area_income_int,avg_house_age_int
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,NE,79545,6
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,CA,79249,6
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,WI,61287,6
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,NaN,63345,7
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,NaN,59982,5